{{template "base" .}}

{{define "title"}} Sign Up {{end}}

<head>
    <link rel="stylesheet" href="static/form.css">
</head>

{{define "nav"}}
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
{{end}}

{{define "body"}}
    <div class="failure">
        <h1> {{.Failure}} </h1>
    </div>
    <h1>Sign Up</h1>  
    <p>Fill out this to create an account</p>
    <form action="/signup" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter your name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email address" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" placeholder="Confirm your password" required>
        </div>
        <div>
            <input type="submit" value="Signup">
        </div>
        <div>
            <a href="/login" class="link">Login</a>
        </div>
    </form>
{{end}}